@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
/* Color Pallet: https://htmlcolors.com/palette/1418/dark1 */
body {
    max-width: 900px;
    background-color: #1c1c1d;
    margin: auto;
    font-family: "Exo", sans-serif;
    color: white;
}

h1 {
    font-weight: 700;
    color: #a0a5a6;
    text-align: center;
    font-size: 55px;
}

h2 {
    font-size: 20px;
    color: #a0a5a6;
    text-align: center;
    margin-bottom: 40px;
}

.major-version {
    background-color: #3a3a3a;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
}

.version-head {
    display: flex;
    flex-direction: column;
}

.version-number {
    color: rgb(137, 15, 207);
    /* text-align: center; */
}

.version-date {
    color: rgb(175, 3, 175);
    /* text-align: center; */
}

.version-title {
    font-size: 30px;
    color: #a0a5a6;
    text-align: center;
}

.added {
    color: #039403;
}

.updated {
    color: #ffa500;
}

.removed {
    color: #ff0000;
}
