* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #1b1b1b;
    align-items: center;
    color: white;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 0;
}

h3 {
    font-size: 0.8em;
    color: #797979;
    text-align: center;
}

.videoWrapper {
    height: 540px;
    overflow: hidden;
}

iframe {
    margin-top: -90px;
    pointer-events: none;
}

input {
    height: auto;
    font-size: 20px;
    margin: 10px;
    width: 450px;
    background-color: #464646;
    outline: 2px solid #6b6b6b;
    border: none;
    color: white;
}

#submit-btn {
    font-size: 20px;
    color: rgb(0, 0, 0);
    background: red;
    padding: 0.5em 2em;
    border: none;
}

#score {
    font-size: 2em;
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(128, 1, 121);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.25em 0.4em;
    border-bottom-right-radius: 0.25em;
}

#mouse-btn {
    font-size: 1em;
    color: rgb(128, 1, 121);
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    padding: 0.5em 1em;
    border-bottom-left-radius: 0.25em;
}

/* input {
    background: #464646
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat right 8px center;
} */
