body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    text-align: center;
    height: 90vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 10px;
    margin: 40px;
}

span {
    font-size: 20px;
}

.inputBox {
    width: 50px;
}

.event-timestamp {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    vertical-align: text-top;
}

.event-title {
    color: blueviolet;
    padding-left: 0.6rem;
}

.event-text {
    padding-left: 0.6rem;
}

.event-type {
    color: red;
    padding-left: 0.6rem;
}

.event-time {
    padding-left: 0.6rem;
    color: #008000;
}

#timer {
    font-size: 80px;
}